<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Rev API</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="http://localhost:3000/uploads/css/basic.css">
    <link rel="stylesheet" href="http://localhost:3000/uploads/css/main.css">

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script defer src="http://localhost:3000/uploads/js/main.js"></script>
</head>
<body>
<div class="body__container">
    <nav class="sidebar">
        <div class="text">Team Rev API</div>
        <ul>
            <li>
                <a href="#">Get Problem</a>
            </li>
            <li>
                <a href="#">Get Problems</a>
            </li>
            <li>
                <a href="#">Update Problem</a>
            </li>
        </ul>
    </nav>

    </div>
</div>
</body>
</html>