.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    left:0;
    background-color: #1b1b1b;
}

.sidebar .text{
    color : white;
    font-size: 25px;
    font-weight: 500;
    line-height: 65px;
    text-align : center;
    background : #1e1e1e;
    letter-spacing: 1px;
}

.sidebar ul{
    background:#1b1b1b;
    height: 100%;
    width:100%;
    list-style: none;
}

.sidebar ul li{
    line-height: 45px;
    border-bottom:1px solid rgba(255,255,255, 0.1);
}

.sidebar ul li a{
    color:white;
    text-decoration: none;
    font-size: 14px;
    padding-left: 25px;
    font-weight: 100;
    display: block;
    width : 100%;
    border-left: 3px solid transparent;
}
.sidebar ul li a:hover{
    background-color: #1e1e1e;
}
.sidebar ul li.active a{
    color: cyan;
    background-color: #1e1e1e;
    border-left-color: cyan;
}

.contents {
    padding-top: 20px;
    margin-left: 270px;
}