{% set title = "API List" %}
{% extends "layout/base.html" %}

{% block css %}
<link rel="stylesheet" href="http://localhost:3000/uploads/css/api.css" />
{% endblock %}

{% block content -%}

    <table class="table table-bordered table-hover">
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
        {% for api in apis %}
        <tr>
            <td>{{ api.title }}</td>
            <td>{{ api.description }}</td>
            <td>
                <a href="#" class="btn btn-danger">삭제</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/admin/api/write" class="btn btn-primary">작성하기</a>

{% endblock %} 